<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Valid till</label>
            <div id="date-container">
                <div class="input-group date">
                    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label>Max users</label>
            <input class="form-control">
        </div>
    </div>
    <div class="col-lg-7">
        <div class="form-group">
            <label>External URLs</label>
            <input class="form-control">
        </div>
    </div>
</div>